* {
    box-sizing: border-box;
}

.dark{
    background-color: rgba(0, 0, 0, 0.781);
    color: blanchedalmond;
    
}

.light{
    background-color: rgba(0, 0, 0, 0.144);
    color: black;
    
}

header{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}

.title{
    font-size: 30px;
}

#lightswitch{
    padding: 20px;
    margin: 20px;
    background-color: blanchedalmond;
    cursor: pointer;
}

input{
    width: 30vw;
    height: 60px;
    font-size: 30px;
    background-color: blanchedalmond;
}

p{
    font-size: larger;
}

.submit{
    background-color: rgba(73, 196, 176, 0.616);
    border-radius: 25px;
}

.wrapper{
    
}

.post{
    text-align: center;
    padding: 10px;
    border: 2px blanchedalmond solid;
}



@media screen and (max-width: 430px) {
    
.title{
    font-size: 17px;    
}

input{
    width: 50vw;
    height: 40px;
    font-size: 20px;
    background-color: blanchedalmond;
}

p{
    font-size: larger;
}

.submit{
    background-color: rgba(73, 196, 176, 0.616);
    border-radius: 25px;
    height: fit-content;
}

}